
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:  Montserrat,Arial, sans-serif;
    background-color: #222;
    color: white;
}


.container {
    text-align: center;
    max-width: 100%;
    padding: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #f5c242; 
}


.slot-machine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.reel {
    font-size: 3em;
    background-color: #444;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    flex: 1;
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

button:active {
    background-color: #218838;
}


@media (max-width: 768px) {
    .reel {
        font-size: 2.5em;
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    button {
        font-size: 1.2em;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .slot-machine {
        flex-direction: column;
        align-items: center;
    }

    .reel {
        font-size: 2em;
        padding: 10px;
        margin: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 1em;
        padding: 6px 12px;
    }
}


.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

#closeAlertButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}
